<header>
    <div> 
        <img src="/images/web/logo-letra-negra.png" alt="Logo de Tiare" width="50%" class="logo-principal"> 
    </div>         
        
</header>

<nav>
    <ul id="menu">
        <li><a href="/">INICIO</a></li>
        <li> <a href="#">ESTADISTICAS </a> </li>
        <li> <a href="#">ADMINISTRAR</a>
    <ul>
        <li><a href="">Ventas</a> </li>
        <li><a href="">Productos</a> </li>
        <li><a href="">Lista de productos</a></li>
        <li><a href="new">Agregar Productos</a></li>
        <li><a href="">Categorias</a></li>
        <li><a href="">Marketing</a> </li>
    </ul>  
        </li>
        <li><a href="">CONFIGURACIÓN</a>
            <ul>
                <li><a href="">Configuracion de usuarios</a> </li>
                <li><a href="">Configuracion admin</a> </li>
                <li><a href="">Configuracion pagina</a> </li>
            </ul>
        </li>
    </ul>
</nav> 