<footer> 
    <div class="caja-footer">
    <section class="iconos-footer">
        
            <div class="ico-countain">
                <i class="fas fa-truck-moving"></i>
            </div>    
            <h4>ENVÍOS</h4> 
                    <p> Envios a todo el pais</p>
            
    </section>

    <section class="iconos-footer">

            <div class="ico-countain">
                <i class="fas fa-shopping-basket"></i>
            </div> 
                    <h4>COMPRA MÍNIMA</h4> 
                    <p> $3000</p>
            
    </section>

    <section class="iconos-footer"> 

            <div class="ico-countain">
                <i class="fas fa-book"></i>
            </div> 
                    <h4>CÓMO COMPRAR</h4> 
                    <p>Lee nuestras preguntas mas frecuentes</p>
            
    </section>

    <section class="iconos-footer"> 

            <div class="ico-countain">
                <i class="fas fa-exchange-alt"></i>
            </div>
                    <h4>CAMBIOS</h4> 
                    <p>Dentro de los 30 dias de tu COMPRA</p>
            
    </section>
</div>
<div class="caja-contactos-redes-preguntas">
    <section class="cajas-base-footer">
        <h2><a href="#">CONTACTO</a> </h2>
        <p class="email"><a href="https://mail.google.com/mail/u/0/#inbox?compose=new">hola@tiare.com.ar </a></p>
        <p>0353-4813541</p>
    </section>
    <section class="cajas-base-footer">
    <h2 class="titulos-contactos-redes-preguntas">SEGUINOS</h2>
    
        <a href="https://www.facebook.com/"><img src="/images/facebook.png" alt="facebook" class="imagenes-redes-sociales"></a>
        <a href="https://www.instagram.com/?hl=es"><img src="/images/instagram.png" alt="instagram" class="imagenes-redes-sociales"></a>
        <a href="https://twitter.com/"><img src="/images/twitter.png" alt="twitter" class="imagenes-redes-sociales"></a>
    </section>
    <section class="cajas-base-footer">
        <h2><a href="/">INICIO</a></h2>
        <p>Preguntas frecuentes</p>
        <p>Políticas de devolucíon</p>
        <p><a href="#">Productos</a></p>
    </section>
</div>

<div class="cabeza-footer">
    <p class="derechos-reservados">Todos los derechos reservados, desarrollado por Grupo_2_Tiare</p>
</div>
</footer>