<header>
    <div class="cabeza-footer"></div>
    <!--imagen, logo de la empresa-->
    
        <div class="logo-principal">
            <a href="/"><img src="/images/web/logo-letra-negra.png" alt="Logo de Tiare" width="50%" class="logo-ppal-image">
            </a>
        </div> 
        <!--barra de navegacion que enlaza a diferentes paginas-->
    <nav id="menu-nav">
        <ul>
            <li><a href="/">INICIO</a></li>
            <li><a href="/products">COLECCIÓN <i class="fas fa-arrow-down"></i></a></li>
            <li><a href="/admin">ADMINISTRACION</a></li>
            <li><a href="#">CONTACTO</a></li>
            <li><a href=""><i class="fas fa-search"></i></a></li>
            <li><a href="/cart/productCart"><i class="fas fa-shopping-cart"></i></a></li>
            <li><a href="/user"><i class="far fa-user"></i></a>
                <ul>
                    <li><a href="./">LogOut</a></li>
                </ul>
            </li>
        </ul>
    </nav>  


</header>