<!DOCTYPE html>
<html lang="en">
 <!--parcial del head del Admin-->
 <%- include('../parciales/adminHead') %>
<body>
  <!--parcial de la barra de ADMIN -->
  <%- include('../parciales/adminHeader') %>

  <main class="main-formulario">
    <fieldset>
    <legend class="titulo-fieldset">AGREGAR UN NUEVO PRODUCTO</legend>
      
      <form action="/products/new" method="POST"  class="formulario-nuevo-producto" enctype="multipart/form-data">
        <div class="nombre-producto">
          <label for="producto" class="titulo-formulario-producto">NOMBRE DEL PRODUCTO:</label>
          <input type="text" name="nombre" id="producto" placeholder="Ej: REMERA MILÁN" required>
        </div>

        <div class="categoria-producto">
          <label for="categoria" class="titulo-formulario-producto">CATEGORIA DEL PRODUCTO:</label>
          <select name="categoria" id="categoria" required>
          
            <option value="pantalones-y-shorts">Pantalones y Shorts</option>
            <option value="remeras-y-camisas">Remeras y Camisas</option>
            <option value="abrigos">Abrigos</option>
            <option value="faldas-y-vestidos">Faldas y Vestidos</option>
            <option value="accesorios">Accesorios</option>
          
          </select>
        </div>
      
        <p class= titulo-formulario-producto>IMÁGENES DEL PRODUCTO:</p>
        <div class="fotos-producto">

          <form name="subida-imagenes" type="POST" enctype="multipart/formdata" > 

            <div class="foto"> 
              <i class="fas fa-camera"></i>
            </div>
              <div class="input-foto">
              <label for="foto-principal" name="foto-principal"class="titulo-imagen">IMAGEN PRINCIPAL</label>
              <input type="file" class="foto-principal" name= "foto-principal" multiple> </div>
            </div>
          </form>

          <!--<div class="foto">
            <i class="fas fa-camera"></i>
          </div>
          <div class="foto">
            <i class="fas fa-camera"></i>
          </div> -->
        </div>

        <div class="descripcion-producto">
          <label for="descripcion" class="titulo-formulario-producto">DESCRIPCIÓN</label>
          <textarea rows="8" name="descripcion" id="descripcion"></textarea>
        </div>

        <div class="precio">
          <label for="precio" class="titulo-formulario-producto">PRECIO</label>
          <input type="tel" name="precio" id="precio" required>
        </div>

        <!--<div class="stock">
          <label for="stock" class="titulo-formulario-producto">Cantidad disponible:</label>
          <select name="stock" id="stock">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
          </select>
        </div>

        <div class="talles">
          <label for="talles" class="titulo-formulario-producto">Talle:</label>
          <select name="talle" id="talles">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div> -->

        <div class="color">
          <label for="color" class="titulo-formulario-producto">Color:</label>
          <select name="color" id="color">
            <option value="Blanco">Blanco</option>
            <option value="Negro">Negro</option>
            <option value="Rojo">Rojo</option>
            <option value="Tostado">Tostado</option>
            <option value="Rosa">Rosa</option>
            <option value="Gris">Gris</option>
            <option value="Celeste">Celeste</option>
            <option value="Azul">Azul</option>
            <option value="Verde">Verde</option>
          </select>
          <div class="boton-producto">
            <button class="agregar" type="submit">AGREGAR PRODUCTO</button>
          </div>
        </div>
      </form>
    </fieldset> 
  </main> 
  <footer>
    <div class="cabeza-footer">
    <p class="derechos-reservados">Todos los derechos reservados, desarrollado por Grupo_2_Tiare</p>
    </div>
</footer> 
</body>
</html>
