/* ---REFERENCIAS---
#9D766F    ROSA VIEJO FUERTE
#5E5236   MARRON
#F4EEE4 BEIGE CLARITO
GRIS MUY LCARO
#D0AEA8 rosa fuerte
#f9efed: rosa viejo clarito
#D4C6C3;
#F7F7F7(este estaba de fondo)
#e8c5c58c rosa claro con transparencia
Typold Extended . Thin
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
/*----INDEX*/
/*BODY*/
body{
    background-color:#e8c5c58c ;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    font-size: 11px;
    color:#5E5236;
}
/*BODY*/
/*HEADER*/
header{
    background-color:#fbf6ee ;
    font-size: 10px;
    
}

/* nav{
    padding-bottom: 1px;
}
ul {
    list-style:  none;
}
/* ul.menu-nav-admin li a{ */
    /* display: block;
    justify-content: space-around;
    list-style: none;
    padding: 10px;
    margin-top: 0px;
    text-decoration: none; */
/* 
ul.menu-nav-admin li a:hover{
    color: #000;
    background-color: #aeaeae;
}

ul.menu-nav-admin li {
    float: left;
    text-align: center;
}

ul.menu-nav-admin li ul{
    display: none;
}

ul.menu-nav-admin li:hover ul{
    display: block;
}

a{
    text-align: center;
    text-decoration: none;
    color:#5E5236;
    font-weight:bold;
}
.logo-principal{
    display:flex;
    justify-content: center;
} */ 
/*HEADER*/

ul{
    list-style: none;
  }
  #menu li>a{
    background-color: grey;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 100px;
  }
  #menu li>a:hover{
    color: #000;
    background-color: #eaeaea;
  }
  #menu>li{
    float: left;
    text-align:center;
    width:25%;
  }
  #menu>li>ul{
    display: none;
  }
  #menu>li:hover>ul {
    display:block;
  }
/*FOOTER*/

.cabeza-footer {
    height: 15px;
    background-color: #9D766F;
}
.derechos-reservados{
    margin: 0px;
    color: #FFFFFF;
}

.caja-footer{
    margin-top: 57px;
}

.iconos-footer{
    text-align: center;
    margin-bottom: 32px;
}

.ico-countain{
    font-size: 48px;
}
.ico-countain:hover{
    color: lightseagreen;
}
h4{
    font-size: 15px;
}
.imagenes-redes-sociales{
    width: 25px;
    border-radius: 7px;
    margin-right: 5px;
}
.caja-contactos-redes-preguntas{
    background-color: #fbf6ee;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.titulos-contactos-redes-preguntas{
    text-align: center ;
}
.cajas-base-footer{
    padding:5px;
    text-align: center;
}

