/* ---REFERENCIAS---
#9D766F    ROSA VIEJO FUERTE
#5E5236   MARRON
#F4EEE4 BEIGE CLARITO
GRIS MUY LCARO
#D0AEA8 rosa fuerte
#f9efed: rosa viejo clarito
#D4C6C3;
#F7F7F7(este estaba de fondo)
#e8c5c58c rosa claro con transparencia
Typold Extended . Thin
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
/*HEADER*/

header{
    background-color:rgb(236, 218, 218) ;
    font-size: 8px;    
}
/*BARRA NAVEGACION ADMIN*/
ul{
    list-style: none;
    font-size:8px;
  }
  #menu li>a{
    background-color: grey;
    color: white;
    padding: 5px 0px;
    display: block;
    text-decoration: none;
    min-width: 60px;
  }
  #menu li>a:hover{
    color: #000;
    background-color: #eaeaea;
  }
  #menu>li{
    float: left;
    text-align:center;
    width:25%;
  }
  #menu>li>ul{
    display: none;
  }
  #menu>li:hover>ul {
    display:block;
  }

/*BODY*/
body{
    background-color:#f9efed ;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    font-size: 10x;
    color:#5E5236;
}
.main-formulario{
    margin:5%;
}

fieldset{
    background-color: white ;
    color: #5E5236;
    border-color: #9D766F;
    border: 9px groove (internal value) ;
    border-radius: 7px;
    margin-top: 50px;
}
.titulo-fieldset{
    font-size: 11px;
    font-weight:800;
}
.formulario-nuevo-producto{
    display:flex;
    flex-direction: column;
    padding: 25px 15px;
}
.titulo-formulario-producto{
    font-size: 11px;
    display:block;
}
 form div{
    margin-bottom: 10px;
}
input{
    width:70%;
    padding:1%;
    font-size: 10px;
}
#descripcion{
    width:100%;
}

#stock, #talles, #color{
    margin-top: 6px;
    font-size: 11px;
    padding:1%;
}
.fotos-producto{
    border: solid gray 1px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.foto{
    border: dashed gray 2px;
    width: 100%;
    display: flex;
    margin: 3%;
}
.foto .fa-camera{
    font-size: 30px;
    width: 100%;
    height:60px;
    display: flex;
    text-align: center; 
    justify-content: center;
    align-items: center;
    color: gray;
}
/*MAIN END*/
/*FOOTER*/

.cabeza-footer {
    height: 15px;
    background-color: grey;
    font-size: 10px;
}

.derechos-reservados{
    margin: 1px;
    color: #FFFFFF;
}


