<!DOCTYPE html>
<html lang="en">

<!--Partial de HEAD-->
<%- include('../parciales/adminHead') %>

<body>
    <!--partial de HEADER-->

    <%- include('../parciales/adminHeader') %>

<section class='saludo-admin'>
     <!--hacer el ejs con el nombre del usuario que hizo loggin-->
    <h3>HOLA BEA, FACU O LUCAS :)</h3>
    <i class="fas fa-user-astronaut"></i>
    <h4>Modificar mis datos<br>(link al registro con los datos del propio usuario)</h4>
    </a>
</section>

<section class= "shortcuts">
    <div>
        <a href="./admin/listaEdit" class="boton-administrar">ADMINISTRAR PRODUCTOS<i class="icon-admin fas fa-tshirt"></i></a>
    </div>
    <div>
        <a href="./user/listadoUsuarios" class = "boton-administrar">ADMINISTRAR USUARIOS<i class="icon-admin fas fa-users"></i></a>
    </div>
    <div>
        <a href="#" class = "boton-administrar">ADMINISTRAR PEDIDOS<i class="icon-admin fas fa-shopping-cart"></i></a>
    </div>
</section>
</body>