<!DOCTYPE html>
<html lang="en">

<!--Partial de HEAD-->
<%- include('../parciales/adminHead') %>

<body>
    <!--partial de HEADER-->

    <%- include('../parciales/adminHeader') %>


    <p>Hola, aca va la lista de productos con el ojito para ver, el lapiz para editar y el tachito para tirar</p>
    <p>PRODUCTO 1</p>
    <p>PRODUCTO 2</p>
    <p>PRODUCTO 3</p>
    <p>PRODUCTO 4</p>
    <p>PRODUCTO 5</p>
    <p>PRODUCTO 6</p>
    <p>PRODUCTO 7</p>