<!DOCTYPE html>
<html lang="en">

<!--head del partial-->
<%- include('../parciales/head') %>

<body>
<!--header del partial -->
<%- include('../parciales/header') %>

    <main>
            <form action="/" method="POST" class="login">
            
                <fieldset>

                    <legend>¡INGRESA!</legend>
                    <p class="usuario">
                        <label for="usuario">Nombre de usuario:</label> <br>
                        <input type="text" name="usuario" id="usuario" placeholder="Tu nombre de usuario">
                    </p>

                    <p class="contraseña">
                        <label for="clave">Contraseña: </label> <br>
                        <input type="password" name="clave" id="clave" placeholder="Introducir tu clave">
                    </p>
                    
                    <p>
                    
                        <div class="caja-recuerdame">
                        <label for="recuerdame" class="recuerdame"><input type="checkbox" name="recuerdame">Recuérdame</label>
                        <button class="entrar">ENTRAR</button></div> 

                    </p>
                    <p>
                        <a href="#">¿Olvidaste la Contraseña?</a>
                        
                    </p>
                    <p>
                        <a href="login/register">¿TODAVIA NO TENES CUENTA? <I>¡REGISTRATE!</I></a>

                    </p>
                </fieldset>
            </form>

        <!--BOTON DE WHATSAPP-->

        <button class="button-whatsapp" >
            <a href="https://api.whatsapp.com/send?phone=+54 353 481 3541">
                <img src="/images/web/whatsapp.png" alt="whatsapp" class="whatsapp">
            </a>
        </button>
    </main>
  <!--footer del partial-->
<%- include('../parciales/footer') %>
</body>
</html>